@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .li-style{
     @apply px-4 py-8 font-semibold hover:border-indigo-200 hover:border-b-2 hover:pb-6 hover:cursor-pointer;
  }
  .product{
    @apply relative flex flex-col w-full h-96;
  }
  .product-title{
    @apply absolute top-20 right-10 text-black font-black text-center font-secular select-none border-b-4 border-indigo-200  text-4xl;
  }
}


  @media (min-width: 0px) {
    .sm\:li-style {
        @apply px-0 py-1;
    }
  }

  